@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Euclid";
  src: url('../fonts/euclid/Euclid\ Circular\ A\ Regular.ttf');
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Euclid";
  src: url('../fonts/euclid/Euclid\ Circular\ A\ Bold.ttf');
  font-weight: bold;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Euclid";
  src: url('../fonts/euclid/Euclid\ Circular\ A\ Italic.ttf');
  font-weight: normal;
  font-style: italic;
  }
  



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Euclid',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.auth_pages--body{
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */


}

header{
  border-bottom: 1px solid rgba(91, 91, 91, 0.15);
}


.login--bx{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06)
}


.sidebarmenu{
  position: fixed;
  top: 0;
  left: -70%;
  width: 0;
  height: 100%;
  bottom: 0;
  background: #ffffff;
  z-index: 999;
  box-shadow: 0 12px 32px -12px rgb(12 22 44 / 32%);
  transition: all .3s ease-in;
}

.sidebarmenu.show{
  left: 0;
  width: 70%;
  transition: .5s ease-in-out;
}



.sidebarmenu .mobile_menu a {
  position: relative;
  transition: all .3s ease-in-out;
  
}
.sidebarmenu .mobile_menu a.active {
  background-color: #45cd8536;
}
.sidebarmenu .mobile_menu a:hover {
  background-color: #45cd8536;
  transition: all .3s ease-in-out;

}
.sidebarmenu .mobile_menu a:after {
  transition: all .3s ease-in-out;
}


.sidebarmenu .mobile_menu a.active:after {
  border: 2px solid #45CD85;
  /* border-right-color: #45CD85; */
  content: "";
  height: 100%;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  transition: all .3s ease-in-out;
}

.active .nav-pointer{
  border: 5px solid transparent;
  border-left-color: #45CD85;
  content: "";
  height: 0;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  /* transform: rotate(180deg); */
  width: 0;
}



/* ====== TABS ===== */
.react-tabs li{
  background: #F2F1F1;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: #9B9999;
}

.react-tabs li.react-tabs__tab--selected{
  background: #45CD85;
  border-radius: inherit;
  border: 0;
  color: #fff;

}

.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}

.modal-wrapper{
  position: relative;
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border-radius: 4px; */
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    /* box-shadow: 0 12px 25px 0 rgba(199,175,189,.25); */
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
  padding: 20px;
}


.modal.show{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}


  .modal.show .modal-wrapper{
    opacity: 1;
    transform: scale(1);
    transition: all 300ms ease-in-out;
  }

/* react-tabs__tab--selected */

@media only screen and (max-width: 991px){
  .modal-wrapper {
    max-width: 700px;
  } 
}
@media only screen and (max-width: 767px){
  .modal-wrapper {
    width: calc(100% - 40px);
  } 
}



.fade-in {
  animation: fadeIn 300ms;
  -webkit-animation: fadeIn 300ms;
  -moz-animation: fadeIn 300ms;
  -o-animation: fadeIn 300ms;
  -ms-animation: fadeIn 300ms;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



/* === Dropdown Menu === */
.user-menu{
  display: none;
}

.user-menu.show{
  display: block;
}

.form-submenu{
  display: none;
}

.form-submenu.show{
  display: block;
}


.scrollbar-change::-webkit-scrollbar {
  width: 0.2rem;
}
.scrollbar-change::-webkit-scrollbar-track {
  background-color: (rgb(48, 47, 47) 173, 173);
}
.scrollbar-change::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  width: 0.1rem;
  background-color: #45CD85;
}
